fastapi==0.114.2
uvicorn==0.27.0
pydantic==2.5.0
pandas==2.2.2
sqlalchemy==2.0.25
alembic==1.16.5
asyncpg==0.31.0
python-multipart==0.0.6
requests==2.32.3
python-dotenv==1.0.0
scikit-learn==1.7.0
statsmodels==0.14.6
mlxtend==0.23.4
immutabledict==4.2.2
absl-py==2.3.1
ortools==9.14.6206
numpy==2.1.1
matplotlib==3.9.2
joblib==1.4.2
pandas==2.2.2
psycopg2-binary==2.9.9
sqlalchemy-hana==1.1.0
hdbcli==2.20.21