@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles to look premium */
body {
  background-color: #0f172a; /* Slate 900 */
  color: #f8fafc; /* Slate 50 */
  font-family: 'Inter', sans-serif;
}
